@import '~@synerty/peek-theme/scss/_mixins.web';
@import '~@synerty/peek-theme/scss/_variables.web';



.edit-context-body {
  overflow-y: scroll;
}

.edit-context-dialog {
  padding: $general_padding_1;
  top: $title_bar_height;
}

/*
.modal-backdrop {
  float: left;
  top: 0px;
  bottom:0px;
  left:0px;
  right:0px;
  background-color: $primary_dark;
}
*/