<div class="panel panel-default">
    <div class="panel-heading">Agent Status
    </div>
    <div class="panel-body">

        <table class="table">
            <thead>

            <tr>
                <th></th>
                <th>Is Running</th>
                <th>Queue Size</th>
                <th>Total Processed</th>
                <th>Last Error</th>
            </tr>

            </thead>

            <tbody>

            <!-- DISP Compiler -->
            <tr>
                <th>Display Compiler</th>
                <td>{{item.displayCompilerQueueStatus}}</td>
                <td>{{item.displayCompilerQueueSize}}</td>
                <td>{{item.displayCompilerProcessedTotal}}</td>
                <td>{{item.displayCompilerLastError}}</td>

            </tr>

            <!-- Grid Compiler -->
            <tr>
                <th>Display Compiler</th>
                <td>{{item.gridCompilerQueueStatus}}</td>
                <td>{{item.gridCompilerQueueSize}}</td>
                <td>{{item.gridCompilerProcessedTotal}}</td>
                <td>{{item.gridCompilerLastError}}</td>

            </tr>


            <!-- Disp Key Index Compiler -->
            <tr>
                <th>Display Location Compiler</th>
                <td>{{item.locationIndexCompilerQueueStatus}}</td>
                <td>{{item.locationIndexCompilerQueueSize}}</td>
                <td>{{item.locationIndexCompilerProcessedTotal}}</td>
                <td>{{item.locationIndexCompilerLastError}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>