<div class="panel panel-default">
    <div class="panel-heading">Agent Status
    </div>
    <div class="panel-body">

        <dl class="dl-horizontal">
            <!-- Grid Compiler -->
            <dt>Display Compiler Running :</dt>
            <dd>{{item.displayCompilerQueueStatus}}</dd>

            <dt>Display Compiler Queue Size :</dt>
            <dd>{{item.displayCompilerQueueSize}}</dd>

            <dt>Display Compiler Total Processed :</dt>
            <dd>{{item.displayCompilerProcessedTotal}}</dd>

            <dt>Display Compiler Last Error :</dt>
            <dd>{{item.displayCompilerLastError}}</dd>

            <!-- Grid Compiler -->
            <dt>Grid Compiler Running :</dt>
            <dd>{{item.gridCompilerQueueStatus}}</dd>

            <dt>Grid Compiler Queue Size :</dt>
            <dd>{{item.gridCompilerQueueSize}}</dd>

            <dt>Grid Compiler Total Processed :</dt>
            <dd>{{item.gridCompilerQueueProcessedTotal}}</dd>

            <dt>Grid Compiler Last Error :</dt>
            <dd>{{item.gridCompilerQueueLastError}}</dd>
        </dl>
    </div>
</div>