<nz-modal
    (nzOnCancel)="closePopup()"
    [nzFooter]="null"
    [nzVisible]="popupShown"
    nzTitle="View Branches"
>
    <div *ngIf="showBranchDetails()">
        <pl-diagram-branch-detail
            [coordSetKey]="coordSetKey"
            [globalBranch]="selectedGlobalBranch"
            [modelSetKey]="modelSetKey"
        ></pl-diagram-branch-detail>
    </div>

    <div *ngIf="!showBranchDetails()">
        <p *ngIf="noItems()">There are no branches at this time.</p>
        <div *ngIf="!noItems()">
            <nz-table ngSize="small" nzTemplateMode>
                <tbody>
                    <tr *ngFor="let item of items; odd as odd; even as even">
                        <td>
                            <nz-switch
                                (ngModelChange)="toggleBranchEnabled(item)"
                                [ngModel]="isBranchEnabled(item)"
                            ></nz-switch>
                        </td>
                        <td>{{item.name}}</td>
                        <td
                            (click)="branchSelected(item)"
                            style="cursor: pointer"
                        >
                            <i nz-icon nzTheme="outline" nzType="right"></i>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</nz-modal>
