<div class="toolbar">
    <div class="toolbar-buttons">
        <button
            *ngIf="showExitDiagramButton()"
            [nzDropdownMenu]="changeCoordSetMenu"
            nz-dropdown
            nzPlacement="bottomLeft"
        >
            <i nz-icon nzTheme="outline" nzType="swap"></i>
        </button>
        <nz-dropdown-menu #changeCoordSetMenu="nzDropdownMenu">
            <ul nz-menu>
                <li
                    (click)="changeCoordSetMenuItemClicked(item)"
                    *ngFor="let item of coordSetsForMenu"
                    nz-menu-item
                >
                    {{item.name}}
                </li>
            </ul>
        </nz-dropdown-menu>

        <button
            (click)="printDiagramClicked()"
            nz-tooltip
            [nzTooltipMouseEnterDelay]="1.0"
            nzTooltipPlacement="bottom"
            nzTooltipTitle="Show Diagram for Print"
        >
            <i nz-icon nzTheme="outline" nzType="printer"></i>
        </button>
        <button
            (click)="editDiagramClicked()"
            *ngIf="showEditDiagramButton()"
            nz-tooltip
            [nzTooltipMouseEnterDelay]="1.0"
            nzTooltipPlacement="bottom"
            nzTooltipTitle="Edit Diagram"
        >
            <i nz-icon nzTheme="outline" nzType="edit"></i>
        </button>
        <button
            (click)="selectBranchesClicked()"
            *ngIf="showSelectBranchesButton()"
            [class.btn-warning]="isBranchesActive()"
            [nzTooltipTitle]="showSelectBranchesTooltip()"
            nz-tooltip
            [nzTooltipMouseEnterDelay]="1.0"
            nzTooltipPlacement="bottom"
        >
            <i nz-icon nzTheme="outline" nzType="branches"></i>
        </button>
        <button
            (click)="selectLayersClicked()"
            nz-tooltip
            [nzTooltipMouseEnterDelay]="1.0"
            nzTooltipPlacement="bottom"
            nzTooltipTitle="Select Layers"
        >
            <svg
                height="1em"
                viewBox="0 0 2048 2048"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M1664 832l384 192-384 192 384 192-1024 512L0 1408l384-192L0 1024l384-192L0 640l1024-512 1024 512-384 192zM286 640l738 369 738-369-738-369-738 369zm1476 768l-241-120-497 248-497-248-241 120 738 369 738-369zm-738-15l738-369-241-120-497 248-497-248-241 120 738 369z"
                ></path>
            </svg>
        </button>
    </div>

    <div class="toolbar-buttons">
        <button
            (click)="goUpParentButtonClicked(btn)"
            *ngIf="showGoUpParentButton()"
            nz-tooltip
            [nzTooltipMouseEnterDelay]="1.0"
            nzTooltipPlacement="bottom"
            nzTooltipTitle="Back"
        >
            <i nz-icon nzTheme="outline" nzType="arrow-left"></i>
            Back
        </button>
        <button
            (click)="buttonClicked(btn)"
            *ngFor="let btn of shownPluginButtons"
            [class.active]="isButtonActive(btn)"
            [nzTooltipTitle]="btn.tooltip"
            nz-tooltip
            [nzTooltipMouseEnterDelay]="1.0"
            nzTooltipPlacement="bottom"
        >
            <i
                *ngIf="btn.icon"
                nz-icon
                nzTheme="outline"
                nzType="{{btn.icon}}"
            ></i>
            <!--      {{btn.name}}-->
        </button>
    </div>
</div>
