<div class="toolbar">
  <div class="toolbar-buttons">
    <button
      *ngIf="showExitDiagramButton()"
      nz-dropdown
      [nzDropdownMenu]="changeCoordSetMenu"
      nzPlacement="bottomLeft"
    >
      <i nz-icon nzType="swap" nzTheme="outline"></i>
    </button>
    <nz-dropdown-menu #changeCoordSetMenu="nzDropdownMenu">
      <ul nz-menu>
        <li
          nz-menu-item
          *ngFor="let item of coordSetsForMenu"
          (click)="changeCoordSetMenuItemClicked(item)"
        >
          {{item.name}}
        </li>
      </ul>
    </nz-dropdown-menu>
    
    <button
      (click)="printDiagramClicked()"
      nz-tooltip
      nzTooltipPlacement="bottom"
      nzTooltipTitle="Show Diagram for Print"
      [nzTooltipTrigger]="null"
    >
      <i nz-icon nzType="printer" nzTheme="outline"></i>
    </button>
    <button
      *ngIf="showEditDiagramButton()"
      (click)="editDiagramClicked()"
      nz-tooltip
      nzTooltipPlacement="bottom"
      nzTooltipTitle="Edit Diagram"
      [nzTooltipTrigger]="null"
    >
      <i nz-icon nzType="edit" nzTheme="outline"></i>
    </button>
    <button
      *ngIf="showSelectBranchesButton()"
      [class.btn-warning]="isBranchesActive()"
      (click)="selectBranchesClicked()"
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="showSelectBranchesTooltip()"
      [nzTooltipTrigger]="null"
    >
      <i nz-icon nzType="branches" nzTheme="outline"></i>
    </button>
    <button
      (click)="selectLayersClicked()"
      nz-tooltip
      nzTooltipPlacement="bottom"
      nzTooltipTitle="Select Layers"
      [nzTooltipTrigger]="null"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" width="1em" height="1em">
        <path
          d="M1664 832l384 192-384 192 384 192-1024 512L0 1408l384-192L0 1024l384-192L0 640l1024-512 1024 512-384 192zM286 640l738 369 738-369-738-369-738 369zm1476 768l-241-120-497 248-497-248-241 120 738 369 738-369zm-738-15l738-369-241-120-497 248-497-248-241 120 738 369z"
        ></path>
      </svg>
    </button>
  </div>
  
  <div class="toolbar-buttons">
    <button
      *ngIf="showGoUpParentButton()"
      (click)="goUpParentButtonClicked(btn)"
      nz-tooltip
      nzTooltipPlacement="bottom"
      nzTooltipTitle="Back"
      [nzTooltipTrigger]="null"
    >
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      Back
    </button>
    <button
      *ngFor="let btn of shownPluginButtons"
      [class.active]="isButtonActive(btn)"
      (click)="buttonClicked(btn)"
      nz-tooltip
      nzTooltipPlacement="bottom"
      [nzTooltipTitle]="btn.tooltip"
      [nzTooltipTrigger]="null"
    >
      <i
        nz-icon
        nzType="{{btn.icon}}"
        nzTheme="outline"
        *ngIf="btn.icon"
      ></i>
<!--      {{btn.name}}-->
    </button>
  </div>
</div>
