<div ng-controller="peekDxfViewerModelCtrl" auto-list-panel-height>

    <div ng-controller="peekDxfViewerInspectorCtrl">
        <div ng-repeat="r in pageData.selectedRenderables">
            Type : {{r.layerName()}}<br/>
            Rend Id : {{r.id}}<br/>
            <p style="white-space: pre-wrap;">Rend Details : {{r.toString()}}</p>
            <br/>
            <!--
            <table ng-show="isPoly(r)" class="table">
                <tbody>
                <tr ng-repeat="p in r.points">
                    <td>[{{p.order}}] {{p.left}}x, {{p.top}}y</td>
                </tr>
                </tbody>
            </table>
            -->

            <div ng-show="hasProps(r)">
                Node Id : {{r.nodeId}}<br/>
                <span ng-repeat="(name, value) in getProps(r)">
                    {{name}} : {{value}}<br/></span>
            </div>

            <div ng-show="isConn(r)">
                Connector Id : {{r.connId}}<br/>
                FROM {{getConn(r).srcId}} to {{getConn(r).dstId}}<br/>
            </div>
        </div>
        <hr/>
    </div>

    <div class="container-fluid"
         ng-controller="peekDxfViewerModelTabPropUpdateCtrl">
        <div class="form-inline">
            <!-- NODE UPDATE PROPS -->
            <div ng-if="propUpdate.showNode">
                <div class="form-group">
                    <label for="nodeName">Name</label>
                    <input type="text" class="form-control" id="nodeName"
                           ng-model="propUpdate.node.props.name"
                           ng-change="savePropUpdate()">
                </div>
                <div class="form-group">
                    <label for="otherUid">Other UID</label>
                    <input type="text" class="form-control" id="otherUid"
                           ng-model="propUpdate.node.props.otherUid"
                           ng-change="savePropUpdate()">
                </div>
                <div class="form-group">
                    <label for="thingType">Type</label>
                    <select id="thingType" class="form-control input-sm"
                            ng-model="propUpdate.node.typeId"
                            ng-options="t.id as t.name for t in nodeTypeLookup | orderBy:'name'"
                            ng-change="savePropUpdate()">
                    </select>
                </div>
                <div class="checkbox" ng-show="propUpdate.node.props.closed != null">
                    <label>
                        Is Closed
                        <input type="checkbox"
                               ng-model="propUpdate.node.props.closed"
                               ng-change="savePropUpdate()">

                    </label>
                </div>
            </div>

            <!-- CONN UPDATE PROPS -->
            <div ng-if="propUpdate.showConn">
                <div class="row form-group" ng-if="propUpdate.conn">
                    <label for="connType">Type</label>
                    <select id="connType" class="form-control input-sm"
                            ng-model="propUpdate.conn.typeId"
                            ng-options="t.id as t.name for t in connTypeLookup | orderBy:'name'"
                            ng-change="savePropUpdate()"
                    >
                    </select>
                </div>
            </div>
        </div>
    </div>


    <ul class="list-group">

        <li ng-repeat="item in pageData.modelLayers | orderBy:'name'"
            class="list-group-item">
            {{item.name}}
            <span class="pull-right">
                <button ng-click="item.visible = !item.visible"
                        type="button"
                        class="btn btn-default btn-sm"
                        ng-class="{active:item.visible}">
                    <span ng-show="item.visible"> V</span>
                    <span ng-hide="item.visible">!V</span>
                </button>

                <button ng-click="item.selectable = !item.selectable"
                        type="button"
                        class="btn btn-default btn-sm"
                        ng-class="{active:item.selectable}">
                    <span ng-show="item.selectable"> S</span>
                    <span ng-hide="item.selectable">!S</span>
                </button>
            </span>
        </li>
    </ul>
</div>