<li role="presentation" class="dropdown">
    <a class="dropdown-toggle peek-nav-size" data-toggle="dropdown" href="#"
       role="button" aria-haspopup="true" aria-expanded="false">
        Navigation<span class="caret"></span>
    </a>
    <ul class="dropdown-menu"  style="overflow-y:scroll;height:350px">

        <li ng-class="{active:isModelSetSel(modelSet)}"
            ng-repeat="modelSet in modelSets"
            class="list-group-item">

            {{modelSet.name}}

            <ul>
                <li ng-class="{active:isCoordSetSel(coordSet)}"
                    ng-repeat="coordSet in modelSet.uiData.coordSets"
                    ng-click="coordSetClicked(coordSet)"
                    class="list-group-item">
                    {{coordSet.name}}
                </li>
            </ul>
        </li>
    </ul>
</li>
