/* SideNav how-to from :
 * https://www.w3schools.com/howto/howto_js_sidenav.asp
 */
@import '~@synerty/peek-theme/scss/_mixins.web';
@import '~@synerty/peek-theme/scss/_variables.web';





$open_button_height: 20px;

$toolbar_width:150px;

.open-close-button {
  cursor: pointer;
  display: block;
  z-index: 3;
  position: fixed;
  margin: 5px;
  opacity: 0.7;
  font-size: $open_button_height;
}


/* The side navigation menu */
.toolbar {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top:   $open_button_height + 3 * $general_button_padding;
  transition: 0.5s; /* 0.5 second transition effect to slide in the toolbar */
}

/* Set the style for when the toolbar is open */
.toolbar-is-open {
  width: $toolbar_width;
}

/* Set the style for when the toolbar is closed */
.toolbar-is-closed {
  width: 0;
}

/* The navigation menu links */
.tool-button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.tool-button:hover, .offcanvas .tool-button:focus {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the toolbar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .toolbar {
    padding-top: 15px;
  }
  .toolbar a {
    font-size: 18px;
  }
}