
$toolbar_width:150;

$open_button_height: 20;

.open-close-button {
  margin: 0px;
  //font-size: $open_button_height;
}


/* The side navigation menu */
.toolbar {
  background-color: #111; /* Black*/
}

/* Set the style for when the toolbar is open */
.toolbar-is-open {
  width: $toolbar_width;
}

/* Set the style for when the toolbar is closed */
.toolbar-is-closed {
  width: 0;
}