<div class="toolbar"
     [class.toolbar-is-open]="toolbarIsOpen"
     [class.toolbar-is-closed]="!toolbarIsOpen">

    <div *ngFor="let btn of buttons">
        <div>
            <button class="btn tool-button"
                    (click)="buttonClicked(btn)">
                <fa *ngIf="btn.icon" [name]="btn.icon"></fa>
                {{btn.name}}
            </button>
        </div>
    </div>

</div>
<div class="open-close-button btn-group ">
    <button class="btn"
            *ngIf="!isToolbarEmpty()"
            (click)="toggleToolbar()">
        <fa *ngIf="!toolbarIsOpen" name="navicon"></fa>
        <fa *ngIf="toolbarIsOpen" name="times"></fa>
    </button>
    <button class="btn"
            *ngIf="showExitDiagramButton()"
            (click)="exitDiagramClicked()">
        <fa name="sign-out"></fa>
    </button>
    <button class="btn"
            *ngIf="showEditDiagramButton()"
            (click)="editDiagramClicked()">
        <fa name="pencil-alt"></fa>
    </button>
    <button class="btn"
            (click)="selectBranchesClicked()">
        <fa name="code-branch"></fa>
    </button>
    <button class="btn"
            (click)="selectLayersClicked()">
        <fa name="layer-group"></fa>
    </button>
</div>


