/* SideNav how-to from :
 * https://www.w3schools.com/howto/howto_js_sidenav.asp
 */
@import '~@synerty/peek-theme/scss/_mixins.web';
@import '~@synerty/peek-theme/scss/_variables.web';



$general_border_radius: 1 !default;
$general_margin_1: 1 !default;
$general_margin_4: 1 !default;

$open_button_height: 20px;

$toolbar_width:250px;

.open-close-button {
  cursor: pointer;
  display: block;
  z-index: 3;
  position: fixed;
  margin: $general_margin_1 / 3;
  font-size: $open_button_height;
}


/* The side navigation menu */
.toolbar {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top:   $general_margin_4;
  transition: 0.5s; /* 0.5 second transition effect to slide in the toolbar */
}

/* Set the style for when the toolbar is open */
.toolbar-is-open {
  width: $toolbar_width;
}

/* Set the style for when the toolbar is closed */
.toolbar-is-closed {
  width: 0;
}

/* The navigation menu links */
.tool-button {
  width: 90%;
  margin: 5px auto 0 auto;
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
  transition: 0.3s

}

/* On smaller screens, where height is less than 450px, change the style of the toolbar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .toolbar {
    padding-top: 15px;
  }
  .toolbar a {
    font-size: 18px;
  }
}