<div auto-modal-height class="splash_screen">
    <!--
    CANVAS IS LOADING<br/>
    {{licData.demoExceeded}}<br/>
    {{licData.username}}<br/>
    -->

    <div class="splash_screen_content">
        <div class="row">
            <div >
                <img class="splash_screen_img"
                     src="/image/PeekSplashScreenMain.png" alt=""/>
            </div>
            <div class="splash_screen_devices">
                <img class="splash_screen_img splash_screen_devices_img"
                     src="/image/PeekSplashScreenDevices.png" alt=""/>
            </div>
            <div >
                <img class="splash_screen_img splash_screen_devices_img"
                     src="/image/PeekSplashScreenSynerty.png" alt=""/>
            </div>
        </div>
    </div>

    <style media="screen">
        .splash_screen_img {
            width: 100%;
            height: auto;
        }

        .splash_screen_content {
            max-width: 670px;
            margin: 0px auto;
        }

        .splash_screen {
            background-color: #000000;
            overflow: hidden;
            /*background-image: url("/image/PeekSplashScreenBackground.png");*/
            /*background-repeat: no-repeat;*/
            /*background-position: bottom center;*/

            padding: 20px;
            margin: 0px;
        }

        .splash_screen_devices {
            padding-top: 50px;
        }

        .splash_screen_devices_img{
            width: 300px;
            margin: 0px auto;
            display: block;
        }

        .splash_screen_devices_img {
            width: 150px;
            display: block;
            margin: 0px auto;
        }

    </style>
</div>
