<div ng-controller="PeekModelNavbarCtrl as navC" class="app-navbar">

    <nav class="navbar " role="navigation">
        <div class="container peek-navbar-container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="peek-nav-button"
                        data-toggle="collapse"
                        data-target="#bs-main-peek-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="peek-nav-button" href="/">Peek</span>
                </button>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse peek-nav-size"
                 id="bs-main-peek-navbar-collapse-1"
                 ng-if="isLicensed()">
                <ul class="nav navbar-nav">

                    <peek-model-navbar-coord-set-menu></peek-model-navbar-coord-set-menu>

                    <peek-model-navbar-layer-menu></peek-model-navbar-layer-menu>


                </ul>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse peek-nav-size"
                 ng-if="isNotLicensed()">
                <ul class="nav navbar-nav">

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle peek-nav-size text-danger" data-toggle="dropdown"
                           href="#"
                           role="button">
                            Licence Expired</span>
                        </a>
                    </li>


                </ul>

            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>