<div class="panel panel-default"
     [class.is-open]="popupShown"
     [class.is-closed]="!popupShown">
    <div class="panel-header">
        <button type="button" class="close" (click)="closePopup()"
                aria-label="Close">
            <fa name="times"></fa>
        </button>
        <h4 class="panel-title">{{dispKey}}</h4>
    </div>
    <div class="panel-body">
        <p *ngIf="noDetails()">
            There are no details for this item.
        </p>
        <div *ngIf="!noDetails()" class="peek-tables-section">
            <table class="table">
                <thead>
                <tr class="tr">
                    <th class="th">Property</th>
                    <th class="th">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr" *ngFor="let detail of details">
                    <th class="td">{{detail.title}}</th>
                    <th class="td">{{detail.value}}</th>
                </tr>
                </tbody>
            </table>
        </div>

        <hr>
        <p *ngIf="noMenuItems()">
            There are no actions for this item.
        </p>

        <div *ngIf="!noMenuItems()" class="mobile-dialog">

            <div class="btn-group ">
                <Button *ngFor="let item of menuItems"
                        class="dialog-action-btn" (click)="menuItemClicked(item)">
                    <fa *ngIf="item.icon != null" [name]="item.icon"></fa>
                    {{item.name}}
                </Button>

            </div>
        </div>
    </div><!-- /.panel-dialog -->
</div>