<GridLayout *ngIf="popupShown"
            rows="auto, *" columns="*"
            class="modal-backdrop">
    <GridLayout rows="auto" columns="auto, *, auto"
                row="0" col="0">

        <Label row="0" col="0"
               [text]="dispKey"
               class="m-10">
        </Label>

        <Button row="0" col="2"
                class="fa btn"
                [text]="'fa-times' | fonticon"
                (tap)="closePopup()">
        </Button>

    </GridLayout>

    <ScrollView row="1" col="0"
                class="m-10">
        <StackLayout>

            <!-- Details -------- -->
            <Label class="hr"></Label>
            <Label *ngIf="noDetails()"
                   text="There are no details for this item.">
            </Label>

            <StackLayout *ngIf="!noDetails()" class="peek-tables-section">
                <StackLayout class="table">
                    <GridLayout class="tr" rows="auto" columns="2*, 3*">
                        <Label class="th" row="0" col="0" text="Property"></Label>
                        <Label class="th" row="0" col="1" text="Value"></Label>
                    </GridLayout>

                    <GridLayout rows="*" columns="*">
                        <ListView class="td"
                                  [items]="details">
                            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                                <StackLayout
                                        [class.odd]="odd" [class.even]="even">
                                    <GridLayout rows="auto" columns="2*, 3*">
                                        <!-- Details -->
                                        <Label row="0" col="0"
                                               [text]="item.title"></Label>
                                        <Label row="0" col="1"
                                               textWrap="true"
                                               [text]="item.value"></Label>

                                    </GridLayout>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                    </GridLayout>
                </StackLayout>
            </StackLayout>


            <!-- Menu -------- -->
            <label class="hr"></label>
            <Label *ngIf="noMenuItems()"
                   text="There are no actions for this item.">
            </Label>

            <StackLayout class="mobile-dialog" *ngIf="!noMenuItems()">
                <StackLayout class="btn-group ">
                    <ng-template *ngFor="let item of menuItems">
                        <Button class="fa dialog-action-btn"
                                [text]="(('fa' + item.icon) | fonticon) + item.name"
                                (tap)="menuItemClicked(item)">

                        </Button>
                    </ng-template>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>

</GridLayout>