<div class="panel panel-default"
     [class.is-open]="popupShown"
     [class.is-closed]="!popupShown">
    <div class="panel-header">
        <button type="button" class="close" (click)="closePopup()"
                aria-label="Close">
            <fa name="times"></fa>
        </button>
        <h4 class="panel-title">{{dispKey}}</h4>
    </div>
    <div class="panel-body">
        <p *ngIf="noDetails()">
            There are no details for this item.
        </p>
        <div *ngIf="!noDetails()">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let detail of details">
                    <td>{{detail.title}}</td>
                    <td>{{detail.value}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr>
        <p *ngIf="noMenuItems()">
            There are no actions for this item.
        </p>


        <div *ngIf="!noMenuItems()">
            <div class="row" *ngFor="let item of menuItems">

                <div class="col-md-12">
                    <div class="btn-group">
                        <Button class="btn" (click)="menuItemClicked(item)">
                            <fa *ngIf="item.icon != null" [name]="item.icon"></fa>
                            {{item.name}}
                        </Button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>