@import '~@synerty/peek-theme/scss/_variables.ns';


.modal-backdrop {
  margin: $general_margin_1;
  background-color: $white;
  text-color: $black;
  font-size: $general_font_size_4;
  border-radius: $general_border_radius;
}