<div #modalView class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closePopup()"
                        aria-label="Close">
                    <fa name="times"></fa>
                </button>
                <h4 class="modal-title">{{dispKey}}</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="noDetails()">
                    There are no details for this item.
                </p>
                <div *ngIf="!noDetails()" class="peek-tables-section">
                    <table class="table">
                        <thead>
                        <tr class="tr">
                            <th class="th">Property</th>
                            <th class="th">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr" *ngFor="let detail of details">
                            <th class="td">{{detail.title}}</th>
                            <th class="td">{{detail.value}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <hr>
                <p *ngIf="noMenuItems()">
                    There are no actions for this item.
                </p>

                <div *ngIf="!noMenuItems()" class="mobile-dialog">
                    <div *ngFor="let item of menuItems">

                        <div class="btn-group ">
                            <Button class="dialog-action-btn" (click)="menuItemClicked(item)">
                                <fa *ngIf="item.icon != null" [name]="item.icon"></fa>
                                {{item.name}}
                            </Button>
                        </div>

                        <br>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->