<div>
    <pl-diagram-canvas-context-menu [canvasEditor]="editor" [model]="model">
    </pl-diagram-canvas-context-menu>
    <pl-diagram-view-toolbar
        (openPrintPopup)="showPrintPopup=true"
        *ngIf="showToolbar && coordSetIsValid() && !isEditing()"
        [config]="config"
        [coordSetKey]="coordSetKey"
        [modelSetKey]="modelSetKey"
        class="no-print"
    ></pl-diagram-view-toolbar>

    <div #edittoolbar class="no-print">
        <pl-diagram-edit-toolbar
            (openPrintPopup)="showPrintPopup=true"
            *ngIf="isEditing()"
            [canvasEditor]="editor"
        ></pl-diagram-edit-toolbar>
    </div>

    <pl-diagram-edit-props-toolbar
        *ngIf="isEditing()"
        [canvasEditor]="editor"
        class="no-print"
    >
    </pl-diagram-edit-props-toolbar>

    <!-- This is the properties panel that appears, it can have dynamic properties
    or shape properties -->

    <div #editprops class="no-print">
        <pl-diagram-edit-props
            *ngIf="isEditing()"
            [canvasEditor]="editor"
        ></pl-diagram-edit-props>
    </div>

    <pl-diagram-view-select-layers
        *ngIf="coordSetIsValid()"
        [coordSetKey]="coordSetKey"
        [modelSetKey]="modelSetKey"
        [model]="model"
        class="no-print"
    ></pl-diagram-view-select-layers>

    <pl-diagram-view-select-branches
        *ngIf="coordSetIsValid()"
        [config]="config"
        [coordSetKey]="coordSetKey"
        [modelSetKey]="modelSetKey"
        class="no-print"
    ></pl-diagram-view-select-branches>

    <pl-diagram-start-edit
        *ngIf="coordSetIsValid()"
        [canvasEditor]="editor"
        [coordSetKey]="config.coordSetKey"
        [modelSetKey]="modelSetKey"
        class="no-print"
    ></pl-diagram-start-edit>

    <pl-diagram-print
        (closePopup)="showPrintPopup=false"
        *ngIf="showPrintPopup"
    ></pl-diagram-print>
    
    
    <!-- This component handles the positioning requests from the
        PrivateDiagramPositionService
    -->
    <pl-diagram-set-position
        [modelSetKey]="modelSetKey"
        [isReadyCallable]="isReadyCallable"
        [config]="config"
        [model]="model"
    ></pl-diagram-set-position>

    <div class="pl-canvas-container no-print">
        <p class="canvas-status-bar">{{mouseInfo()}}</p>

        <canvas #canvas class="canvas" tabindex="1">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>
</div>
