<div>

    <pl-diagram-view-toolbar *ngIf="coordSetKey != null && !editor.isEditing()"
                        [config]="config"
                        [coordSetKey]="coordSetKey"
                        [modelSetKey]="modelSetKey"></pl-diagram-view-toolbar>

    <div #edittoolbar>
        <pl-diagram-edit-toolbar
                *ngIf="editor.isEditing()"
                [canvasEditor]="editor"></pl-diagram-edit-toolbar>
    </div>

    <pl-diagram-edit-props-toolbar
            *ngIf="editor.isEditing()"
            [canvasEditor]="editor">

    </pl-diagram-edit-props-toolbar>


    <!-- This is the properties panel that appears, it can have dynamic properties
    or shape properties -->
    <pl-diagram-edit-props
            class="pl-canvas-edit-context"
            *ngIf="editor.isEditing()"
            [canvasEditor]="editor"></pl-diagram-edit-props>

    <pl-diagram-view-popup *ngIf="coordSetKey != null && !editor.isEditing()"
                      [coordSetKey]="coordSetKey"
                      [modelSetKey]="modelSetKey"></pl-diagram-view-popup>


    <pl-diagram-view-select-layers
            [config]="config"
            [coordSetKey]="coordSetKey"
            [modelSetKey]="modelSetKey"></pl-diagram-view-select-layers>

    <pl-diagram-view-select-branches
            [config]="config"
            [coordSetKey]="coordSetKey"
            [modelSetKey]="modelSetKey"></pl-diagram-view-select-branches>

    <pl-diagram-start-edit
            [coordSetKey]="coordSetKey"
            [modelSetKey]="modelSetKey"
            [canvasEditor]="editor"></pl-diagram-start-edit>


    <div class="pl-canvas-container">
        <p class="canvas-status-bar ">{{mouseInfo()}}</p>

        <canvas #canvas class="canvas ">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

</div>