<div class="vert-toolbar" *ngIf="isToolbarShown()">
  <div class="toolbar-buttons">
    <button
      [class.active]="isBranchPropertiesActive()"
      (click)="showBranchProperties()"
      nz-tooltip
      nzTitle="Branch Properties"
    >
      <i nz-icon nzType="branches" nzTheme="outline"></i>
    </button>
    <button
      *ngIf="isShapePropertiesShown()"
      [class.active]="isShapePropertiesActive()"
      (click)="showShapeProperties()"
      nz-tooltip
      nzTitle="Shape Properties"
    >
      <i nz-icon nzType="sliders" nzTheme="outline"></i>
    </button>
    <button
      *ngIf="isGroupPtrPropertiesShown()"
      [class.active]="isGroupPtrPropertiesActive()"
      (click)="showGroupPtrProperties()"
      nz-tooltip
      nzTitle="Template Selection"
    >
      <i nz-icon nzType="clear" nzTheme="outline"></i>
    </button>
    <button
      class="btn"
      *ngIf="isEdgeTemplatePropertiesShown()"
      [class.active]="isEdgeTemplatePropertiesActive()"
      (click)="showEdgeTemplateProperties()"
      nz-tooltip
      nzTitle="Dynamic Properties"
    >
      <i nz-icon nzType="clear" nzTheme="outline"></i>
    </button>
    <button
      class="btn"
      *ngIf="isLiveDbPropertiesShown()"
      [class.active]="isLiveDbPropertiesActive()"
      (click)="showLiveDbProperties()"
      nz-tooltip
      nzTitle="Dynamic Properties"
    >
      <i nz-icon nzType="thunderbolt" nzTheme="outline"></i>
    </button>
  </div>
</div>
